.footer-copyright
  = link_to 'http://eurekahd.tv/', target: '_blank', rel: 'noopener', class: 'logo-eu' do
    = image_tag ('logo/logo-eureka.png'), alt: "Телеканал Эврика"
  p.footer-copyright__text.text-sm © 2019 Телекомпания ЗАО «Первый ТВЧ».<br>Все права защищены.
