.social
  = link_to '', 'https://vk.com/eurekahd', target: '_blank', rel: 'noopener', class: 'social__icon social__icon_vk'
  = link_to '', 'https://www.facebook.com/eurekahd', target: '_blank', rel: 'noopener', class: 'social__icon social__icon_fb'
